* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: #85acdc;
}

.section-padding {
    padding: 70px 0;
}

.carousel-item {
    height: auto;
    min-height: 500px;
}

.carousel-caption {
    bottom: 200px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(51, 34, 14, 0.455);
    z-index: 1;

}
@media (max-width: 767px) {
    #carouselE {
        margin-top: 150px;
    }
}
.carousel-item img {
    max-height: 65%; 
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-dark .navbar-brand {
    color: rgb(247, 191, 93);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgb(85, 26, 5);
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.services .card-body i {
    font-size: 50px;
}

.team .card-body i {
    font-size: 20px;
}

.ocre-text {
    color: #c6530b; 
}

@media(max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-item {
        height: 70vh;
    }

    .w-100 {
        height: 60vh;
    }

    .carousel-caption {
        bottom: 125px;
    }

    .carousel-caption h5 {
        font-size: 17px;
    }

    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }

    .about-text {
        padding-top: 50px;
    }

    .card {
        margin-bottom: 30px;
    }

    .section-padding {
        padding: 50px 0;
    }
/*ADICION RESPONSIVE*/
    .navbar-toggler {
        padding: 8px 10px;
        font-size: 20px;
    }
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .services .section-header h2,
    .portfolio .section-header h2 {
        font-size: 25px;
    }

    .services .section-header p,
    .portfolio .section-header p {
        font-size: 14px;
    }

    .about .about-text,
    .services .card-body,
    .team .card-body {
        text-align: center;
    }

    .about .about-img img {
        margin-bottom: 20px;
    }

.ocre-text {
    color: #cc7722;

}

.footer-bg {
    background-color: hsl(53, 74%, 60%);
    padding: 20px 0;
    text-align: center;
}
 

.plan-terapia {
    background-color: #e7b921; }
   
}



/*REGISTRO*/

.mi-clase {
    color: #e7b921; 
    
}
#titulonomayusculas .no-uppercase {
    text-transform: none;
}
footer h5 {
    font-size: 18px;
    color: rgb(231, 200, 3);
    margin-bottom: 10px; 
    letter-spacing: 1px; 
}
.main-container {
    max-width: 1500px; 
    margin: 0 auto; 
}

.main-container {
    width: 100%;
    max-width: 2000px; 
    margin: 0 auto; 
}


html {
    scroll-behavior: smooth;
}

#noDecor {
    text-decoration: none;
}

.btn-orange {
    background-color: #c6892e;
    color: white;
    border: none;
}
.btn-orange:hover {
    background-color: #c6892e;
}
.navbar-orange {
    background-color: #ddc7a4;
}

.btn-orange-button {
    background-color: #e2c9a0;
    color: white;
    border: none;
}
.btn-orange button:hover {
    background-color: #c6892e;
}